.beer {
  display: flex;
  max-width: 100%;
  overflow: auto;
  img {
    width: 6em;
    height: 20em;
    margin: 1.5em;
  }
  .beer-description {
    display: flex;
    flex-direction: column;
    margin-right: 0.5em;
    .name {
      font-weight: 500;
      font-size: 1.3em;
    }
  }
}
